<h1>Skate Recommendations</h1>
<form action="{{url_for('userrec')}}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username"><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="email"><br>
      
    <label for="skatestyle">Choose a Skating Style. Copy and Paste from below:</label>
    <input type="text" id="skating_style" name="skating_style" placeholder="skating_style"> 
<button type="submit">Submit</button> <br>
<ul>
    <li>aggressive</li>
    <li>derby</li>
    <li>speed</li>
    <li>jam</li>
    <li>road/trail</li>
    <li>artistic</li>
    <li>freestyle</li>
    <li>rink</li>
</ul> 

